body{
    margin: 0;
    border: 0;  
}
main{
    /* height: calc(100vh - 80px - 80px) ; */
    height: 100vh ;
}
header, footer{
    background-color: orange;  
    width: 100%;  
    height: 80px;
    margin: 0;
}
.links{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
li{
    list-style: none;
}
fieldset{
    margin: 10px;
}
h1{
    margin: 0%;
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 1px;
    padding-top: 1px;
    border: 1px solid white; 
    border-left: 0ch;
    border-right: 0ch;
}
/* ------------------------------------------------------------------------------------------ */
/*Header*/
header{
    display: flex;
    justify-content: center;
}
#logo{
    width: 80px;
    height: 70px;
}
#nav-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------------------------------------------------------------------------------ */
/*footer*/
footer{
    display: flex;
    justify-content: center;
    /* position: fixed; 
    bottom:0;  */
}
#nav-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------------------------------------------------------------------------------ */
/* Formulario */
#form-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 500px; /*450px*/
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}
#fieldset-parent{
    width: 90%;
    height: 100%; /*90%*/
    display: flex;
    flex-direction: column;
}
#fieldset-parent fieldset{
    border-style: none;
    border: 0;
    height: 60px;
}
input, select{
    border-style: none;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}
.input-large{
    width: 100%;
}
.input-medium{
    width: 28%;
}
#fielset-Animal{
    margin-top: 0;
    margin-bottom: 0;
}
#form-Animal{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
input[type="radio"]{
    margin: 0 20px;
}
#form-especificaciones > img{
    width: 20px;
    padding: 2px 2px 2px 2px;
    display: inline;
}
#vacunas-Container{
    border: 0;
    margin: 0;
}
.vac-visible{
    display: flex;
    justify-content: space-evenly;
}
/* ------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1150px){
    #form-especificaciones{
        display: flex;
        align-items: center;    
        flex-direction: column;
    }
    #form-container{
        height: 700px; /*450px*/
    }
    #banner>img{
        display: none;
    }
    main{
        height: calc(100vh) ;
    }
}
@media screen and (max-width: 850px){
    #tabla-container {
        margin: 0;
        border: 10px;
        padding: 10px;
    }
    table {
    width: 90vh;
    overflow: hidden;
    overflow-x: scroll;
    display:block;
    }
}
@media screen and (min-width: 1150px){
    #form-especificaciones{
        align-items: center;
    }
}


#buttons-container{
    display: flex;
    justify-content: center;
    align-content: center;
}


#banner{
    width: 100%;
}
#banner>img{
    width: 100%;
    height: 150px;
}




.inputError{
    border: 1px solid red; 
}
small{
    color: red;
    font-size: small;
}
#buttons-container>button>img{
    width: 10px;
}

.spinner{
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner{
    width: 50px;
    height: 50px;
}
.invisible{
    display: none;
}




/*Alert custom*/
#customAlert{
    align-items: center;
}
.ventana{
    background-color: black;
}
#customAlert-container{
    text-align: center;
    color: white;
}
#customAlert:target{
    opacity:1;
    pointer-events:auto;
}

  